<div class='form-center'>
  <form class="form" [formGroup]="userDetailsForm" (ngSubmit)="pushDetails()">
    <div form-control-row form-center class="border">
      <br>
      <div class="form-control-col form-center title">User Data</div>
      <br>
      <div class="form-control-col form-center">
        <span *ngIf="userDetailsForm.invalid&&errorToggle" class="field"
          style="color: red;">Fields Are Invalid</span>
      </div>
      <div class="form-control-col form-center" >
        <input type="text" disabled placeholder="Username" style="width:100px; text-align: center;">
        <input type="text" placeholder="Onkar_j#a" class="field" formControlName="username">
      </div>
      <div class="form-control-col form-center">
        <span *ngIf="userDetailsControl['username'].invalid&&userDetailsControl['username'].touched" class="field"
          style="color: red;">Enter Valid Username</span>
      </div>
      <br>
      <div class="form-control-col form-center" >
        <input type="text" disabled placeholder="Email" style="width:100px; text-align: center;">
        <input type="email"  placeholder="test@chicmic.in" class="field" formControlName="email">
      </div>
      <div class="form-control-col form-center">
        <span *ngIf="userDetailsControl['email'].invalid&&userDetailsControl['email'].touched" class="field"
          style="color: red;">Enter Valid Email</span>
      </div>
      <br>
      <div class="form-control-col form-center">
        <input type="text" disabled placeholder="Mobile No." style="width:100px; text-align: center;">
        <input type="text" disabled placeholder={{mobile}} class="field" >
      </div>
      <br>
      <br>
      <br>
      <div class="form-control-col form-center">
        <button *ngIf="!userDetailsForm.invalid" class='btn btn-success signUp' type='submit'>Sign Up</button>
        <button *ngIf="userDetailsForm.invalid" class='btn btn-success  signUp' type='button' (click)="errorToggler()">Sign Up</button>
      </div>
      </div>
  </form>
</div>
